---
import { client } from "@/commons/clients/MicroCMSClient";
import type { Blog } from "@/commons/types/Blog";
import Layout from "@/layouts/Layout.astro";

const { blogId } = Astro.params;

const blog = await client.getListDetail<Blog>({
  endpoint: "blogs",
  contentId: blogId as string,
});
---

<Layout title={blog.title} description="ブログ">
  <main class="container prose mx-auto p-4">
    <article>
      <h1>{blog.title}</h1>
      <div id="blog-content" set:html={blog.content} />
    </article>
  </main>
</Layout>

<script>
  const blogContent = document.getElementById("blog-content");

  blogContent?.querySelectorAll("code").forEach((code) => {
    const pre = code.closest("pre");
    if (!pre) {
      return;
    }
    pre.classList.add("my-0");
    if (code.classList.contains("language-shell")) {
      pre.dataset.prefix = ">";
    }
    let div = pre?.closest<HTMLDivElement>("div[data-filename]");
    if (div) {
      div.classList.add("mockup-code");
    } else {
      div = document.createElement("div");
      div.classList.add("mockup-code");
      div.append(pre.cloneNode(true));
      pre.replaceWith(div);
    }

    if (!navigator.clipboard) {
      return;
    }
    div.classList.add("cursor-pointer");
    div.addEventListener("click", async () => {
      const copied = await navigator.clipboard.readText();
      if (!code.textContent || copied === code.textContent) {
        return;
      }
      navigator.clipboard.writeText(code.textContent);
    });
  });
</script>
