---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Workspace" description="動作確認・検証等の備忘録です。">
  <main class="container prose mx-auto p-4">
    <h1>Workspace</h1>
    <p>動作確認・検証等の備忘録です。</p>
    <a href={`/workspace/microcms/codeblock`}>
      <div class="card card-compact bg-neutral shadow-md">
        <div class="card-body">
          <h3 class="m-3">MicroCMSのコードブロックをカスタマイズする。</h3>
        </div>
      </div>
    </a>
  </main>
</Layout>
