---
import { SITE_TITLE, SITE_DESCRIPTION } from "../commons/consts";
import Layout from "@/layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="container prose mx-auto p-4">
    <h1>Portfolio Top Page</h1>
    <p>個人ブログ等を投稿していきます。</p>
    <p>随時個人開発を行ってページ追加予定。</p>
    <h2>使用技術一覧</h2>
    <ul>
      <li>Astro</li>
      <li>Tailwind CSS</li>
      <ul>
        <li>Daisy UI</li>
      </ul>
      <li>MicroCMS</li>
      <li>Vercel</li>
    </ul>
  </main>
</Layout>
