<copy-mockup-applied-code-block-component>
  <div data-filename="hello.js">
    <pre
      class="flex">
      <code class="language-shell">echo "Hello"</code>
    </pre>
  </div>
</copy-mockup-applied-code-block-component>

<script>
  class CopyMockupAppliedCodeBlockComponent extends HTMLElement {
    constructor() {
      super();

      this.querySelectorAll("code").forEach((code) => {
        const pre = code.closest("pre");
        if (!pre) {
          return;
        }
        pre.classList.add("my-0");
        if (code.classList.contains("language-shell")) {
          pre.dataset.prefix = ">";
        }
        let div = pre.closest<HTMLDivElement>("div[data-filename]");
        if (div) {
          div.classList.add("mockup-code");
        } else {
          div = document.createElement("div");
          div.classList.add("mockup-code");
          div.append(pre.cloneNode(true));
          pre.replaceWith(div);
        }
        // コードをクリップボードにコピーする
        if (!navigator.clipboard) {
          return;
        }
        div.classList.add("cursor-pointer");
        div.addEventListener("click", async () => {
          const copied = await navigator.clipboard.readText();
          if (!code.textContent || copied === code.textContent) {
            return;
          }
          navigator.clipboard.writeText(code.textContent);
        });
      });
    }
  }
  customElements.define(
    "copy-mockup-applied-code-block-component",
    CopyMockupAppliedCodeBlockComponent,
  );
</script>
